.header-menu-label {
    width: 285px;
    height: 55px;
    background-color: #B8B9B7;
    text-align: center;
    border-radius: 0 0 24px 24px;
}

.header-menu-label>a {
    font-size: 20px;
    letter-spacing: 5px;

    color: white;
    font-weight: bold;
    line-height: 55px;
    text-decoration: none;
}

.header-menu-selected {
    background-color: #00796B;
}