.logout-button {
    background-color: #89D68C;
    border: none;
    border-radius: 8px;
    width: 135px;
    height: 45px;

    vertical-align: middle;
    font-size: 20px;
    font-family: 'メイリオ';
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: bold;
}

.logout-button:hover {
    background-color: #66BB6A;
}