.card-header-info {
    width: 302px;
    position: relative;
    top: -160px;
    left: 16px;
    color: white;
    text-align: right;
}

.card-header-title {
    font-size: 18px;
}

.card-header-deadline {
    margin-top: -2px;
}

.card-header-deadline>label {
    font-size: 11px;
    margin-right: 115px;
}

.card-header-deadline>div {
    margin-top: -6px;
    font-size: 20px;
    /* font-weight: bold; */
}

.card-header-countdown {
    margin-top: -8px;
}

.card-header-countdown>label {
    font-size: 12px;
    margin-right: 70px;
}

.card-header-countdown>div {
    margin-top: -12px;
    font-size: 32px;
    font-weight: bold;
}