.task-infomation {
    margin-top: -90px;
    margin-left: 8px;
}

.task-infomation>label {
    font-size: 10px;
}

.task-infomation>div {
    margin-left: 16px;
}

.remain-task {
    font-size: 32px;
    font-weight: bold;
}

.total-task {
    font-size: 20px;
    margin-left: 8px;
}