.add-project-button {
    width: 200px;
    height: 60px;
    background-color: #66BB6A;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 16px;
}

.add-button-hidden {
    display: none;
}